<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Métodos</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
  <script>

    function mm1() {
      var num1 = parseFloat(document.getElementById('tasaLlegadas').value);
      var num2 = parseFloat(document.getElementById('tasaServicios').value);

      var factorUtiliza = document.getElementById('factorUtiliza').value = num1 / num2;
      var clientesCola = document.getElementById('clientesCola').value = (Math.pow(num1, 2)) / num2 * (num2 - num1);
      var promedioClientes = document.getElementById('promedioClientes').value = num1 / (num2 - num1);

      var num3 = parseFloat(document.getElementById('clientesCola').value);
      var num4 = parseFloat(document.getElementById('promedioClientes').value);

      var tiempoCola = document.getElementById('tiempoCola').value = num3 / num1;
      var promedioSistema = document.getElementById('promedioSistema').value = num4 / num1;

    }

  </script>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <div class="input-group">
            <h1 class="h3 mb-1 text-gray-800">Proyecto 3 | Métodos Cuantitativos y Simulación</h1>
          </div>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <center>
            <h1 class="h3 mb-1 text-gray-800">Modelo de Colas</h1>
          </center>
          <p class="mb-4">info info info</p>

          <!-- Content Row -->
          <div class="row">

            <!-- First Column -->
            <div class="col-lg-4">

              <!-- Custom Text Color Utilities -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">MM1</h6>
                </div>
                <div class="card-body px-3 py-5 bg-gradient-primary text-white">
                  <p>Lambda (Clientes por hora):</p>
                  <input type="text" id="tasaLlegadas" /><br /><br />
                  <p>&micro; (Servicio por hora):</p>
                  <input type="text" id="tasaServicios" /><br /><br />
                  <button onclick="mm1();" class="btn btn-secondary btn-icon-split">Calcular</button>
                  <p>P:</p>
                  <input type="text" id="factorUtiliza" />
                  <p>Lq:</p>
                  <input type="text" id="clientesCola" />
                  <p>L:</p>
                  <input type="text" id="promedioClientes" />
                  <p>Wq:</p>
                  <input type="text" id="tiempoCola" />
                  <p>W:</p>
                  <input type="text" id="promedioSistema" />
                </div>
              </div>

            </div>

            <!-- Second Column -->
            <div class="col-lg-4">

              <!-- Custom Text Color Utilities -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">MMS</h6>
                </div>
                <div class="card-body px-3 py-5 bg-gradient-success text-white">
                  <p>Lambda (Clientes por hora):</p>
                  <input type="text" id="tasaLlegadas" /><br /><br />
                  <p>&micro; (Servicio por hora):</p>
                  <input type="text" id="tasaServicios" /><br /><br />
                  <button onclick="mm1();" class="btn btn-secondary btn-icon-split">Calcular</button>
                  <p>P:</p>
                  <input type="text" id="factorUtiliza" />
                  <p>Lq:</p>
                  <input type="text" id="clientesCola" />
                  <p>L:</p>
                  <input type="text" id="promedioClientes" />
                  <p>Wq:</p>
                  <input type="text" id="tiempoCola" />
                  <p>W:</p>
                  <input type="text" id="promedioSistema" />
                </div>
              </div>

            </div>

            <!-- Third Column -->
            <div class="col-lg-4">

              <!-- Custom Text Color Utilities -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">MMK</h6>
                </div>
                <div class="card-body px-3 py-5 bg-gradient-info text-white">
                  <p>Lambda (Clientes por hora):</p>
                  <input type="text" id="tasaLlegadas" /><br /><br />
                  <p>&micro; (Servicio por hora):</p>
                  <input type="text" id="tasaServicios" /><br /><br />
                  <button onclick="mm1();" class="btn btn-secondary btn-icon-split">Calcular</button>
                  <p>P:</p>
                  <input type="text" id="factorUtiliza" />
                  <p>Lq:</p>
                  <input type="text" id="clientesCola" />
                  <p>L:</p>
                  <input type="text" id="promedioClientes" />
                  <p>Wq:</p>
                  <input type="text" id="tiempoCola" />
                  <p>W:</p>
                  <input type="text" id="promedioSistema" />
                </div>
              </div>

            </div>
            <div class="col-lg-4">

              <!-- Custom Text Color Utilities -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">MMK</h6>
                </div>
                <div class="card-body px-3 py-5 bg-gradient-warning text-white">
                  <p>Lambda (Clientes por hora):</p>
                  <input type="text" id="tasaLlegadas" /><br /><br />
                  <p>&micro; (Servicio por hora):</p>
                  <input type="text" id="tasaServicios" /><br /><br />
                  <button onclick="mm1();" class="btn btn-secondary btn-icon-split">Calcular</button>
                  <p>P:</p>
                  <input type="text" id="factorUtiliza" />
                  <p>Lq:</p>
                  <input type="text" id="clientesCola" />
                  <p>L:</p>
                  <input type="text" id="promedioClientes" />
                  <p>Wq:</p>
                  <input type="text" id="tiempoCola" />
                  <p>W:</p>
                  <input type="text" id="promedioSistema" />
                </div>
              </div>

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>